<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<div class="text-center">
    <form action="#" th:action="'/people/' + ${person.getId()} + '/tasks/' + ${task.getId()} + '/comments/add'" method="post" th:object="${newComment}">
        <input hidden th:field="*{id}">
        <label for="comment">Comment</label><br>
        <input type="text" id="comment" th:field="*{content}" required autofocus>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Comment's Person</th>
            <th>Comment's Task</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}" th:object="${comment}">
            <td th:text="*{commentsperson.getName()}"></td>
            <td th:text="*{commentstask.getTitle()}"></td>
            <td th:text="*{content}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>